{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 90,
    "overrides": [
        {
            "files": "**/lwc/**/*.html",
            "options": { "parser": "lwc" }
        },
        {
            "files": "*.{cmp,page,component}",
            "options": { "parser": "html" }
        }
    ]
}
